.card-shadow {
	box-shadow: 2px 2px 3px  #DDDDDD;
}
.nav-shadow {
	box-shadow: 2px 2px 3px  grey;
}
.text-shadow {
	text-shadow: 2px 2px 4px #000000;
}
.center {
	text-align: center;
}
.spring {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
	margin-top: 30px;
	display:  flex;
    align-items: center;
    justify-content:  center;
}
.st {
	text-align:  center;
}
.single {
	padding: 5em 0;
}
.price {
	font-size: 30pt;
}
@media (max-width: 1280px) {
	.single {
		padding: 4em 0;
	}
}